
<form action="/names" method= "post">
<div>
  <label for= "name">Player One:</label>
  <input type="text" id="Player One" name="user_name1">
</div>
<label for= "name">Player Two:</label>
<input type="text" id="Player Two" name="user_name2">
</div>
<div class="button">
    <button type="submit">Submit</button>
  </div>

</form>
